/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #caffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(255, 221, 221);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    width: 80%;
    max-width: 900px;
}

.bmi-calculator, .bmi-result {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}

.bmi-result {
    display: none;
}
